.load-more.is-hidden {
    display: none;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 20px;
}

body{
    margin: 0;
}

.photo-card {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;

}

.photo {
    width: 350px;
    height: 250px;
    display: block;
}

.info {
    display: flex;
    justify-content: space-around;
    
}



.search-form {
    display: flex;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
}

.search-toolbar {
    background-color: #4056b4;
    height: 15%;
}

.load-more {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background-color: #4056b4;
    border: none;
    border-radius: 2px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
}